{% extends 'base.html.twig' %}
{% block title %}Corriers
{% endblock %}
{% block styles %}
	{# Datatables styles #}
	{% include "datatable/styles.html.twig" %}
	<!-- Select2 -->
	<link
	rel="stylesheet" href="{{asset('plugins/select2/css/select2.min.css')}}">
	<!-- summernote -->
	<link rel="stylesheet" href="{{asset('plugins/summernote/summernote-bs4.min.css')}}">
{% endblock %}
{% block header %}Courriers
{% endblock %}
{% block body %}
	<!-- Main content -->
	<section class="content">

		<div class="row">
			{{ include('courriers/sidebar.html.twig') }}
			<div class="col-md-9">
				<div class="card card-primary card-outline">
					<div class="card-header">
						<h3 class="card-title">Archivés</h3>
						<!-- /.card-tools -->
					</div>
					<!-- /.card-header -->
					<div class="card-body p-0">
						<div class="table-responsive mailbox-messages p-3 justify-content-between" style="height: 650px;">
							<table id="datatable" class="table table-hover table-striped table-head-fixed text-nowrap">
								<thead>
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for mail in user_mails %}
										<tr>
											<td class="mailbox-star">
												<a href="#">
													<i class="fas fa-star text-secondary"></i>
												</a>
											</td>
											<td class="mailbox-name">
												<a href="{{path('app_courriers_read', {'id': mail.id})}}">
													{{ mail.getMailObject }}
												</a>
											</td>
											<td class="mailbox-subject">
												{{ mail.getSendFrom }}
											</td>
											<td class="mailbox-date">{{ mail.getSendTime|ago}}</td>
										</tr>
									</td>
								</tbody>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<!-- /.table -->
			</div>
			<!-- /.mail-box-messages -->
		</div>
		<!-- /.card-body -->
	</div>
	<!-- /.card -->
</div>
<!-- /.col --></div><!-- /.row --></section><!-- /.content -->{{ include('courriers/new.html.twig') }}{% endblock %}{% block scripts %}<!-- Page specific script --><script src="{{asset('plugins/summernote/summernote-bs4.min.js')}}"></script><!-- Select2 --><script src="{{asset('plugins/select2/js/select2.full.min.js')}}"></script><!-- DataTables  & Plugins / Mondestin--><script src="{{asset('plugins/datatables/jquery.dataTables.js')}}"></script><script src="{{asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script><script src="{{asset('plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script><script src="{{asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script><script>$(function () { // Add text editor
$('#compose-textarea').summernote();
// Initialize Select2 Elements
$('.select2').select2();
$("#datatable").DataTable({"responsive": false, "autoWidth": false, "lengthChange": false, "searching": true});
})</script></script>{% endblock %}
